body{

  margin:0;

  font-family:Arial, Helvetica, sans-serif;

  background:linear-gradient(135deg,#74ebd5,#8897da);
}
.App{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;

}