*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f8;
}

.navbar{
    background:#2563eb;
    color:white;
    padding:18px;
    text-align:center;
    box-shadow:0 2px 8px rgba(0,0,0,.2);
}

.container{
    width:80%;
    margin:30px auto;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:25px;
    box-shadow:0 5px 12px rgba(0,0,0,.1);
}

.card h2{
    margin-bottom:15px;
}

input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#1d4ed8;
}

.post-card{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px;
    border:1px solid #ddd;
    border-radius:8px;
    margin-top:15px;
}

.post-card h3{
    font-size:17px;
}